@import "tailwindcss";


*{
 box-sizing:border-box;
}


html,
body,
#root{

width:100%;
overflow-x:hidden;

}


img{

max-width:100%;
height:auto;

}


h1,h2,h3,p{

word-break:break-word;

}


button{

max-width:100%;

}


section{

overflow:hidden;

}